.container-fluid{
  padding-top: 70px;
  padding-bottom: 70px;

}
.bg-1{
  padding-top: 70px;
  background-color: #FFFFFF;
}
.bg-2
{
  background-color: #01579B;
}

.bg-3{
  font-family: 'Lato',sans-serif;
  color: #FFFFFF;
  background-color: #00B0FF;
}
.navbar {
    font-family: 'Lato',sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.fab{
  font-size: 100px;
  color: #bd2c00;
}

.brand{
  color: #bd2c00;
  font-size: default;
}
.icon-spring{
  color: #bd2c00;
  font-size: 100px;
}
.margin{
  margin-bottom: 45px;
}
